{{#if this.siteSettings.thumbnail_toggle_enabled}}
  {{#if this.currentUser.admin}}
    <div class="thumbnail-toggle-debug">
      <button class="btn-icon toggle-thumbnail-btn admin-control" title={{i18n (if this.context.topic.tlp_show_thumbnail "thumbnail_toggle.hide" "thumbnail_toggle.show")}} {{on "click" (action "toggleThumbnail")}}>
        {{d-icon (if this.context.topic.tlp_show_thumbnail "far-image-slash" "far-image")}}
        <span class="sr-only">{{i18n (if this.context.topic.tlp_show_thumbnail "thumbnail_toggle.hide" "thumbnail_toggle.show")}}</span>
      </button>
      <small style="font-size: 0.8em; color: #666;">
        ID: {{this.context.topic.id}} | 狀態: {{this.context.topic.tlp_show_thumbnail}}
      </small>
    </div>
  {{/if}}
{{/if}} 