{{#if siteSettings.thumbnail_toggle_enabled}}
  {{#if context.currentUser.admin}}
    <div class="topic-thumbnail-toggle" data-topic-id="{{context.topic.id}}">
      <button class="btn-icon toggle-thumbnail-btn" 
              title="{{#if context.topic.tlp_show_thumbnail}}隱藏縮圖{{else}}顯示縮圖{{/if}}" 
              onclick="toggleThumbnail({{context.topic.id}})">
        {{#if context.topic.tlp_show_thumbnail}}
          <i class="d-icon d-icon-far-image"></i>
          隱藏縮圖
        {{else}}
          <i class="d-icon d-icon-far-image-slash"></i>
          顯示縮圖
        {{/if}}
      </button>
      <small>
        調試: ID={{context.topic.id}} | 狀態={{context.topic.tlp_show_thumbnail}}
        <br>
        圖片URL: {{context.topic.image_url}}
      </small>
    </div>
  {{/if}}
{{/if}} 